/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap&subset=latin-ext');

$fonts: (
  ff-body: (
    'Roboto',
    sans-serif,
  ),
  fw-normal: 400,
  fs-base: 16px,
  lh-base: 1.5,
);

// Media queries
$mq: (
  small: 568px,
  medium: 736px,
  large: 1024px,
);

// Dimensions
$dimensions: (
  max-width: 320px,
  content-width: minmax(288px, 382px),
); // footer-height = double padding + font-size

// Colors
$colors: (
  c-black: #2c2c2c,
  c-grey: #505566,
  c-white: #f8f8f8,
  c-glass: #eceff1,
  c-alert: #b5193d,
  c-water-dark: #0b98f8,
  c-water-light: #76c1fb,
  c-bg-gradient: linear-gradient(to bottom, #0b98f8, #3dc3f3),
);
